 body {
      margin: 0;
      background: linear-gradient(180deg,rgb(248, 231, 211),rgb(195, 195, 245));
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: sans-serif;
    }
    .calc {
      width: 500px;
      background: rgba(255, 255, 255, 0.4);
      box-shadow: 0 0 10px #0004;
    }
    .display {
      background: #003f3f;
      color: white;
      padding: 20px;
      text-align: right;
      font-size: 20px;
    }
    input {
      border: none;
      background: transparent;
      color: white;
      font-size: 20px;
      width: 100%;
      text-align: right;
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    button {
      padding: 20px;
      font-size: 18px;
      background: rgba(255,255,255,0.2);
      border: 1px solid #ccc;
      cursor: pointer;
    }
    button:hover {
      background: rgba(255,255,255,0.4);
    }

