        html{
            scroll-behavior:smooth ;
        }
        header{
            background:linear-gradient(180deg, rgb(229, 210, 184),rgb(245, 173, 86));
            position: relative;
            top: -10px;
            width: 101%;
            margin-left: -6px;
            height: 100px;
            display: flex;
        }
        body{
            background-color: lavender;
        }
        ul a{
            text-decoration: none;
            color: rgb(149, 50, 243);
        }
        ul a:hover{
            color: rgb(158, 41, 158);
        }
        ul li{
            font-size: larger;
        }
        ul{
             display: flex;
             position: relative;
             top: -60px;
             justify-content:space-evenly ;
        }
        header{
            border: 3px solid gray;
        }
        header .head{
            position: relative;
            /* display: flex; */
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        #About,#Skills,#Projects,#Resume{
            font-family:'Courier New', Courier, monospace;
        }
        .cont{
            height: fit-content;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        .s1,.s2,.s3,.s4{
            height: auto;
            width: 180px;
            /* background-color: aliceblue; */
            background: linear-gradient(270deg,aliceblue,rgb(171, 209, 243));
            padding: 6px;
            border: 2px solid rgb(193, 219, 242);
            box-shadow: 3px 3px 3px 3px gray;
            text-align: justify;
        }
        #About h4{
            text-align: justify;
        }
        .img1{
            display: flex; 
            justify-content: space-evenly;
        }