    .sec1 {
         background-color: rgb(103, 117, 103);
         width: 30%;
         border-bottom-left-radius: 10px;
         border-top-left-radius: 10px;

      }
      @media (min-width: 768px) {
         .sec1 {
            width: 30%;
         }

         .sec2 {
            width: 40%;
         }

         .sec3 {
            width: 30%;
         }
      }

      .sec2 {
         background-color: rgb(96, 98, 96);
         width: 40%;
      }

      .sec3 {
         background-color: rgb(3, 169, 3);
         width: 30%;
         border-top-right-radius: 10px;
         border-bottom-right-radius: 10px;
      }
      .section {
         display: flex;
         height: 660px;
         border-radius: 20px;
         margin: 30px;
         flex-wrap: wrap; /* ADD THIS */
      }

      ul {
         display: flex;
         justify-content: space-evenly;
         color: rgb(79, 194, 79);
         position: relative;
         left: -15px;
         font-family: Georgia, 'Times New Roman', Times, serif;
      }

      body {
         background: linear-gradient(90deg, rgb(161, 234, 160), rgb(161, 234, 244));
      }

      h1 span {
         color: rgb(177, 236, 184);
      }

      .sec1 h1 {
         color: rgb(7, 211, 34);
      }

      .healthy span {
         color: rgb(7, 211, 34);
      }

      .healthy h1 {
         color: rgb(165, 218, 171);
      }

      button {
         background-color: rgb(28, 177, 28);
         color: white;
      }

      img {
         width: 400px;
         height: 57%;
         object-fit: cover;
         border-radius: 55%;
         position: relative;
         top: 180px;
         left: -25%;

      }

      .All_text {
         position: absolute;
         top: 200px;
         left: 230px;
         font-size: 38px;
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .plate {
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 20px;
         position: relative;
         left: 150px;
      }

      button:hover {
         background-color: darkgreen;
         color: aquamarine;
         font-size: 17px;
      }

      .insta,
      .twitter,
      .facebook {
         height: 40px;
         width: 40px;
         border-radius: 50%;
         object-fit: fill;
      }

      .logos {
         position: relative;
         right: -60%;
         top: -23%;
      }
      ul li:hover{
         color: rgb(26, 155, 95);
         cursor: pointer;
      }
